@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Seja bem vindo, aluno!</h1>
    <div class="w-50 mt-5">
        <a class="btn btn-md btn-outline-secondary" asp-controller="Cursos" asp-action="Index">Cursos</a>

        <a class="btn btn-md btn-secondary text-white" asp-controller="Cursos" asp-action=>Área do Aluno</a>
    </div>
</div>
